:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, "Story Script";
  line-height: 1.5;
  font-weight: 400;

  /* Color Variables */
  --text-color: #000000;
  --background-color: #F3F3F3;
  --accent-color-1: #ED6A5A;
  --accent-color-2: #FFB627;
  --accent-color-3: #4281A4;

  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--accent-color-3);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent-color-1);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  font-family: "Story Script";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}


@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  a:hover {
    color: var(--accent-color-1);
  }
  button {
    background-color: var(--accent-color-2);
  }
}
